<!-- 
Author      : Ramu
Date        : 01-04-2019
Description : Login form styles 
-->

<!-- title -->
<div class="signupform">
    
    <!-- content -->
  
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
           
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6">
            <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
                <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
                   <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Signup Form</h3>
                   <div class="agile-info-para">                    
                      <div class="row contact-wls-detail">
                         <div class="col-lg-11 contact-form pb-lg-3 pb-2">
                            <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
                               <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
                                
                                  <div class="col-lg-6 col-md-6 form-group contact-forms">
                                     <input type="email"  formControlName="emailId"  class="form-control" placeholder="Email">
                                     <div class="alert alert-warning" 
                                     *ngIf="!signupform.get('emailId').valid && signupform.get('emailId').touched || passwordStatus==-1">  
                                      Please enter valid emailId.
                                     </div>
                                    </div>
                                  <div class="col-lg-6 col-md-6 form-group contact-forms">
                                      <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                      <div class="alert alert-warning" 
                                     *ngIf="!signupform.get('password').valid && signupform.get('password').touched">  
                                      Please enter valid password.
                                     </div>
                                   </div>
                                  <div class="col-lg-6 col-md-6 form-group contact-forms">
                                     <input type="text"  formControlName="userName"  class="form-control" placeholder="User Name">
                                     <div class="alert alert-warning" 
                                     *ngIf="!signupform.get('userName').valid && signupform.get('userName').touched">  
                                      Please enter valid userName.
                                     </div>
                                    </div>
                                  <div class="col-lg-6 col-md-6 form-group contact-forms">
                                      <input type="number" formControlName="phoneNo" class="form-control" placeholder="Phone Number">
                                      <div class="alert alert-warning" 
                                     *ngIf="!signupform.get('phoneNo').valid && signupform.get('phoneNo').touched">  
                                      Please enter valid Phone Numebr.
                                     </div>
                                   </div>
                               </div>                                                   
                               <button type="submit" [disabled]="!signupform.valid"  class="btn sent-butnn btn-lg">Send</button>
                            </form>
                         </div>
                         
                      </div>
                   </div>
                </div>
              </section>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
  
        </div>
     </div>
  
    
    <!-- //copyright -->
  </div>
  
  