  <!--testimonial-->
  <section class="testimonial py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
       <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Clients</h3>
       <div id="carouselExampleControls" class="carousel slider" data-ride="carousel">
          <div class="carousel-inner text-center">
             <div class="carousel-item active client-img py-lg-4 py-md-3 py-sm-3 py-2">
                <div class="img-move">
                   <img class="img-fluid" src="./assets/images/t1.jpg" alt="">
                </div>
                <div class="client-matter pt-lg-4 pt-md-3 pt-3">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,delectus reiciendis maiores alias
                      consequatur aut.maiores alias</p>
                   <h6 class="pt-lg-3 pt-2">Kelly West</h6>
                </div>
             </div>
             <div class="carousel-item client-img py-lg-4 py-md-3 py-sm-3 py-2">
                <div class="img-move">
                   <img class="img-fluid" src="./assets/images/t2.jpg" alt="">
                </div>
                <div class="client-matter pt-lg-4 pt-md-3 pt-3">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,delectus reiciendis maiores alias
                      consequatur aut.maiores alias</p>
                   <h6 class="pt-lg-3 pt-2">Sunny Jack</h6>
                </div>
             </div>
             <div class="carousel-item client-img py-lg-4 py-md-3 py-sm-3 py-2">
                <div class="img-move">
                   <img class="img-fluid" src="./assets/images/t3.jpg" alt="">
                </div>
                <div class="client-matter pt-lg-4 pt-md-3 pt-3">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,delectus reiciendis maiores alias
                      consequatur aut.maiores alias</p>
                   <h6 class="pt-lg-3 pt-2">jolly Deo</h6>
                </div>
             </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
          </a>
       </div>
    </div>
 </section>
 <!--//testimonial -->