 <!-- //Footer -->
 <section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
     <div class="row footer-agile-grids text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
           <h4>About</h4>
           <div class="abt-footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                 et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                 labore et</p>
              <h5><a href="about.html">Read more..</a></h5>
           </div>
           <div class="bottom-social pt-3">
              <ul>
                 <li>
                    <a href="#">
                       <span class="fa fa-facebook-f"></span>
                    </a>
                 </li>
                 <li>
                    <a href="#">
                       <span class="fa fa-google-plus"></span>
                    </a>
                 </li>
                 <li>
                    <a href="#">
                       <span class="fa fa-twitter"></span>
                    </a>
                 </li>
              </ul>
           </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
           <h4> Opening Hours</h4>
           <div class="wls-hours-list">
              <ul>
                 <li class="d-flex">Monday <span class="time ml-auto"> 9:30-18:30</span></li>
                 <li class="d-flex">Tuesday <span class="time ml-auto"> 9:30-18:30</span></li>
                 <li class="d-flex">Wednesday<span class="time ml-auto"> 9:30-18:30</span></li>
                 <li class="d-flex">Thursday <span class="time ml-auto"> 9:30-18:30</span></li>
                 <li class="d-flex">Friday <span class="time ml-auto"> 9:30-18:30</span></li>
                 <li class="d-flex">Saturday <span class="time ml-auto"> 9:30-18:30</span></li>
                 <li class="d-flex">Sunday <span class="time ml-auto"> closed</span></li>
              </ul>
           </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
           <h4>Nav Links</h4>
           <nav class="border-line">
              <ul class="nav flex-column">
                 <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                    <a href="about.html" class="nav-link ">About</a>
                 </li>
                 <li class="nav-item">
                    <a href="service.html" class="nav-link">Services</a>
                 </li>
                 <li class="nav-item">
                    <a href="blog.html" class="nav-link ">Blog</a>
                 </li>
                 <li class="nav-item">
                    <a href="gallery.html" class="nav-link">Gallery</a>
                 </li>
                 <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                 </li>
              </ul>
           </nav>
        </div>
     </div>
  </div>
</section>

<footer>
  <p>©2018 Sports360. All Rights Reserved | Design by <a href="https://www.innominds.com"
        target="_blank">Innominds</a></p>
</footer>
<!-- //Footer -->