<app-nav></app-nav>
<!-- <app-home></app-home> -->
<!-- <app-contact></app-contact> -->

<router-outlet></router-outlet>
<!-- <app-subscribe></app-subscribe> -->
<!-- <app-testmonial></app-testmonial> -->
<app-footer></app-footer>

