<!-- 
Author      : Ramu
Date        : 01-04-2019
Description : Login form styles 
-->

<!-- title -->
<div class="loginForm">
    
  <!-- content -->

  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
         
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
          <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
              <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
                 <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Login Form</h3>
                 <div class="agile-info-para">                    
                    <div class="row contact-wls-detail">
                       <div class="col-lg-11 contact-form pb-lg-3 pb-2">
                          <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
                             <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
                              
                                <div class="col-lg-12 col-md-12 form-group contact-forms">
                                   <input type="email"  formControlName="emailId"  class="form-control" placeholder="Email">
                                   <div class="alert alert-warning" 
                                   *ngIf="!loginform.get('emailId').valid && loginform.get('emailId').touched || passwordStatus==-1">  
                                    Please enter valid emailId.
                                   </div>
                                  </div>
                                <div class="col-lg-12 col-md-12 form-group contact-forms">
                                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                    <div class="alert alert-warning" 
                                   *ngIf="!loginform.get('password').valid && loginform.get('password').touched">  
                                    Please enter valid password.
                                   </div>
                                 </div>
                             </div>                                                   
                             <button type="submit" [disabled]="!loginform.valid"  class="btn sent-butnn btn-lg">Send</button>
                          </form>
                       </div>
                       
                    </div>
                 </div>
              </div>
            </section>
      </div>
      <div class="col-sm-3 col-md-4 col-lg-4">

      </div>
   </div>

  
  <!-- //copyright -->
</div>

