<h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 mt-5">Create Event</h3>
<div class="row contact-wls-detail  " >
  <div class="col-lg-3">

  </div>
  <div class="col-lg-6 contact-form pb-lg-3 pb-2">
     <form  #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="text" 
              name="eventName"  
              ngModel 
              class="form-control" 
              placeholder="Evemt Name"
              #eventName="ngModel"
              required
              minlength="5"
              maxlength="30" 
              [ngModel]="model?.eventName" 
              (ngModelChange)="model.eventName=$event"
              >
               <div class="alert alert-success" *ngIf="eventName.errors && (eventName.dirty || eventName.touched)">
              
                  <div [hidden]="!eventName.errors.required">
                     Event Name is required!
                   </div>
                   <div [hidden]="!eventName.errors.minlength">
                     EventBName must be at least 5 characters long.
                   </div>
                   <div [hidden]="!eventName.errors.maxlength">
                     Event Name cannot be more than 30 characters long.
                   </div>
                </div>                
           </div>
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="text" 
              name="sportType"  
              ngModel 
              class="form-control" 
              placeholder="Sports Type"
              #sportType="ngModel"
              required
              minlength="5"
              maxlength="30" 
              [ngModel]="model?.sportType" 
              (ngModelChange)="model.sportType=$event"
              >
              <div class="alert alert-success" *ngIf="sportType.errors && (sportType.dirty || sportType.touched)">
               
               <div [hidden]="!sportType.errors.required">
                  Sport Type is required!
                </div>
                <div [hidden]="!sportType.errors.minlength">
                  Sport Type must be at least 5 characters long.
                </div>
                <div [hidden]="!sportType.errors.maxlength">
                  Sport Type cannot be more than 30 characters long.
                </div>
             </div> 
           </div>
        </div>
        <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="text"
               name="eventDate"  
               ngModel
               class="form-control" 
               #dpYMD="bsDatepicker"
               bsDatepicker 
               [minDate]="minDate"           
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
               data-date="" 
               data-date-format="DD MMMM YYYY" 
               value="2015-08-09" 
               (ngModelChange)="valuechange($event)"
               placeholder="Event Date">
           </div>
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="text" 
              name="location"  
              ngModel 
              class="form-control" 
              #location="ngModel"
              required                
              [ngModel]="model?.location" 
              (ngModelChange)="model.location=$event"
              placeholder="Location">
              <div class="alert alert-success" *ngIf="location.errors && (location.dirty || location.touched)">
               
               <div [hidden]="!location.errors.required">
                  require Location 
                </div>                
             </div>
           </div>
        </div>
        <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="number"  
              name="entryFee"  
              min="1"
              ngModel  
              class="form-control" 
              placeholder="Entry Fee">
           </div>
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="number" 
              name="no_of_teams"
              min="1"  
              ngModel 
              class="form-control" 
              placeholder="Number of Teams">
           </div>
        </div>
        <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="text"
              
              class="form-control" 
              name="registrationFromDate"  
              ngModel
              #dpYMD="bsDatepicker"
              bsDatepicker 
              [minDate]="minDate"
              [maxDate]="maxFromRegistrationDate"           
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              (ngModelChange)="registrtionmin($event)"
              placeholder="Registration From Date">
           </div>
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="text"
              class="form-control" 
              name="registrationToDate"  
              ngModel 
              #dpYMD="bsDatepicker"
              bsDatepicker 
              [minDate]="minToRegistrationDate"
              [maxDate]="maxFromRegistrationDate"           
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              
              placeholder="Registration To Date" 
             >
             
           </div>
        </div>
        <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
         <div class="col-lg-12 col-md-12 form-group contact-forms">
            <input type="text" 
            class="form-control" 
            name="subject"  
            ngModel 
            #subject="ngModel"
            required
            minlength="5"
            maxlength="30" 
            [ngModel]="model?.subject" 
            (ngModelChange)="model.subject=$event"
            placeholder="Subject">
            <div class="alert alert-success" *ngIf="subject.errors && (subject.dirty || subject.touched)">
             
             <div [hidden]="!subject.errors.required">
                Subject is required!
              </div>
              <div [hidden]="!subject.errors.minlength">
                Subject must be at least 5 characters long.
              </div>
              <div [hidden]="!subject.errors.maxlength">
                Subject cannot be more than 30 characters long.
              </div>
           </div>
         </div>
         
      </div>
        <div class="row agile-wls-contact-mid mb-lg-4 mb-3">
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="number" 
              class="form-control" 
              name="team_size"  
              ngModel 
              min="1"
              #team_size="ngModel"
              required             
              [ngModel]="model?.team_size" 
              (ngModelChange)="model.team_size=$event"
              placeholder="Team size">
              <div class="alert alert-success" *ngIf="team_size.errors && (team_size.dirty || team_size.touched)">
               
               <div [hidden]="!team_size.errors.required">
                  Team size is required!
                </div>
               
             </div>
           </div>
           <div class="col-lg-6 col-md-6 form-group contact-forms">
              <input type="number" min="1" class="form-control" name="winningPrize" ngModel placeholder="Winning Prize" >
           </div>
        </div>
        <div class="form-group contact-forms">
           <textarea class="form-control" 
           name="description" 
            ngModel placeholder="Description"
            #description="ngModel"
            required
            minlength="5"
            maxlength="30"                
            [ngModel]="model?.description" 
            (ngModelChange)="model.description=$event"
            placeholder="description"></textarea>
            <div class="alert alert-success" *ngIf="description.errors && (description.dirty || description.touched)">
             
               <div [hidden]="!description.errors.required">
                  Description is required!
                </div>
                <div [hidden]="!description.errors.minlength">
                  Description must be at least 5 characters long.
                </div>
                <div [hidden]="!description.errors.maxlength">
                  Description cannot be more than 30 characters long.
                </div>               
           </div>
        </div>
        
        <!-- <input type="submit" value="Send"/> -->
        <button type="submit" [disabled]="!f.valid" class="btn sent-butnn btn-lg">Send</button>
     </form>
  </div>
  <div class="col-lg-3">
    
    </div>

</div>