<div class="header-outs" id="home">
  <div class="header-sports360">
     <!--//navigation section -->
     <div class="headr-title">
        <div class="hedder-up">
           <h1><a class="navbar-brand" routerLink="index.html">Sports360</a></h1>

        </div>
        <div class="header-call">
           <span class="fa fa-volume-control-phone brand-icon"></span>
           <h4>+91-40-46126300</h4>
        </div>
        <div class="clearfix"></div>
     </div>
     <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  nav-fill " id="navbarSupportedContent">
           <ul class="navbar-nav nav-pills nav-fill">
              <li class="nav-item active">
                 <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                 <a routerLink="/login" class="nav-link ">login</a>
              </li>
              <li class="nav-item">
                 <a routerLink="/registration" class="nav-link ">Registration</a>
              </li>
              <li class="nav-item">
                 <a routerLink="/signout" class="nav-link">signout</a>
              </li>
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Location
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['location']"  [queryParams]="{search:'hyderabad'}">Hyderabad</a>
                    <a class="dropdown-item" [routerLink]="['location']" [queryParams]="{search:'Vizag'}">Visakapatnam</a>
                    <!-- <a class="dropdown-item" [routerLink]="['location]" [queryParams]="{search:'vijawada'}">Vijayawada</a> -->
                    <a class="dropdown-item" [routerLink]="['location']" [queryParams]="{search:'karimanagar'}">Karimanager</a>
                    
                 </div>
              </li>
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sports
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['location']" [queryParams]="{search:'cricket'}">Cricket</a>
                    <a class="dropdown-item" [routerLink]="['location']" [queryParams]="{search:'footbal'}">Footbal</a>
                    <a class="dropdown-item" [routerLink]="['location']" [queryParams]="{search:'tennis'}">Tennis</a>
                    <a class="dropdown-item" [routerLink]="['location']" [queryParams]="{search:'chess'}">Chess</a>
                    
                 </div>
              </li>
              <li class="nav-item">
                 <a routerLink="contact" class="nav-link">Contact</a>
              </li>
           </ul>
        </div>

     </nav>
     <!--//navigation section -->

  </div>
  <!--banner-->
  <div class="slides">
     <div class="slide slide--current two-img">
        <div class="slider-up">

           <!-- <h4>
             Sports360</h4> -->
          
           <div class="outs_more-buttn">
              <!-- <a routerLink="contact.html">Book Now</a> -->
           </div>
        </div>
        <div class="slide__img">
        </div>
     </div>
     <div class="slide one-img">
        <div class="slider-up">
           <h4>Feeling Good in Perfect <br>Balance</h4>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolor Lorem ipsum
              dolor sit amet eget dolor</p>
           <div class="outs_more-buttn">
              <a routerLink="contact.html">Book Now</a>
           </div>
        </div>
        <div class="slide__img"></div>
     </div>
     <div class="slide three-img">
        <div class="slider-up">

           <h4>Fitness Grow Your<br>Strenght</h4>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum
              dolor sit amet eget dolor</p>
           <div class="outs_more-buttn">
              <a routerLink="contact.html">Book Now</a>
           </div>

        </div>
        <div class="slide__img "></div>

     </div>
     <div class="clearfix"></div>
  </div>
  <ul class="pagination">
     <li><span class="pagination__item"> </span></li>
     <li><span class="pagination__item"> </span></li>
     <li><span class="pagination__item"> </span></li>
  </ul>
  <div class="clearfix"></div>
</div>
