<!-- events -->

<section class="events py-lg-4 py-md-3 py-sm-3 py-3" id="events">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
    <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 ">Our Events</h3>
    <div class="outs-agile-buttn mb-3 " >
      <a routerLink="/create">Create Events</a>
    </div>
    <div *ngFor="let event of events; let i=index">
      <div class="row blog-top-grids" *ngIf="i%2==0; else odd_event">
        <div class="col-lg-7 left-side-agile p-lg-4 p-md-4 p-3">

          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed odio consequat
          </h4>
          <p class="groom-right">{{event.description}}
          </p>
          <div class="row mt-2">
            <div class="col-md-2 col-sm-2 col-3 event-w3ls-date text-center">
              <h5>{{ event.registrationFromDate | date:"dd" }}</h5>
              <span>{{ event.registrationFromDate | date:"MMM" }}</span>
            </div>
            <div class="col-md-4 col-sm-4 col-7 event-w3ls-sub-txt text-left">
              <h4 class="mb-2">{{event.eventName}}</h4>
              <ul>
                <li><span class="fa fa-clock" aria-hidden="true"></span>{{ event.registrationToDate | date }}</li>
                <li><span class="fa fa-map-marker-alt" aria-hidden="true"></span>{{ event.location }}</li>
              </ul>
             

            </div>
            <div class="col-md-3 col-sm-3 col-2 event-w3ls-sub-txt text-left">
              <div class="outs-agile-buttn-delete mt-lg-3 mt-2 " >
                  <a (click)="delete(event.eventId)">Delete</a>
              </div>
             
            </div>
            <div class="col-md-3 col-sm-3 col-2 event-w3ls-sub-txt text-left">
              <div class="outs-agile-buttn-edit mt-lg-3 mt-2">
                <a  [routerLink]="['/edit']" [queryParams]="{id:event.eventId}">Edit</a>
              </div>
             
            </div>
            <!-- <div class="outs-agile-buttn mt-lg-3 mt-2">
                    <a routerLink="">Learn more</a>
                 </div> -->
          </div>
        </div> 
        <div class="col-lg-5 blog-w3l-right ">
          <img src="./assets/images/bb1.jpg" class="img-fluid" alt="">
        </div>       
      </div>
      <ng-template #odd_event>
          <div class="row blog-top-grids my-lg-5 my-md-4 my-3">
              <div class="col-lg-5 blog-w3l-right ">
                <img src="./assets/images/bb2.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 left-side-agile p-lg-4 p-md-4 p-3">
      
                <p class="groom-right">{{event.description}}
                </p>
               
                <div class="row mt-2">
                    <div class="col-md-2 col-sm-2 col-3 event-w3ls-date text-center">
                        <h5>{{ event.registrationFromDate | date:"dd" }}</h5>
                        <span>{{ event.registrationFromDate | date:"MMM" }}</span>
                      </div>
                      <div class="col-md-4 col-sm-4 col-7 event-w3ls-sub-txt text-left">
                        <h4 class="mb-2">{{event.eventName}}</h4>
                        <ul>
                          <li><span class="fa fa-clock" aria-hidden="true"></span>{{ event.registrationToDate | date }}</li>
                          <li><span class="fa fa-map-marker-alt" aria-hidden="true"></span>{{ event.location }}</li>
                        </ul>
                       
          
                      </div>
                      <div class="col-md-3 col-sm-3 col-2 event-w3ls-sub-txt text-left">
                        <div class="outs-agile-buttn-delete mt-lg-3 mt-2 " >
                          <a (click)="delete(event.eventId)">Delete</a>
                        </div>
                       
                      </div>
                      <div class="col-md-3 col-sm-3 col-2 event-w3ls-sub-txt text-left">
                        <div class="outs-agile-buttn-edit mt-lg-3 mt-2">
                          <a  [routerLink]="['/edit']" [queryParams]="{id:event.eventId}">Edit</a>
                        </div>
                       
                      </div>
                </div>
              </div>
            </div>
      </ng-template>
      
    </div>

  </div>

</section>
<!-- events -->