 <!--subscribe-->
 <section class="subscribe py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
     <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Subscribe Us</h3>
     <div class="row subscribe-form text-center">
        <div class="col-md-6 email-sub-agile">
           <form action="#" method="post">
              <div class="form-group ">
                 <input type="email" class="form-control email-sub-agile" placeholder="Email">
              </div>
              <div class="text-center">
                 <button type="submit" class="btn subscrib-btnn">Submit</button>
              </div>
           </form>
        </div>
        <div class="col-md-6 email-info">
           <div class="wthree-form-list">
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,delectus reiciendis maiores alias
                 consequatur aut.maiores alias</h4>
           </div>
        </div>
     </div>
  </div>
</section>
<!--//subscribe-->